#!/bin/bash

###################################################################################################
# Network interfaces
## Management Network
export MGNT_INTERFACE=eth0
## Tenant / xvlan Network
export DATA_INTERFACE=eth1
## Provider Network
export EXT_INTERFACE=eth2

## linuxbridge || openvswitch
export NEUTRON_AGENT=linuxbridge

## Assigning IP for CONTROLLER node
export CTL_MGNT_IP=172.25.234.90
export CTL_EXT_IP=192.168.81.165
export CTL_DATA_IP=10.10.20.10

## Assigning IP for COMPUTE1 node
export COM1_MGNT_IP=172.25.234.95
export COM1_EXT_IP=192.168.81.166
export COM1_DATA_IP=10.10.20.15

## Assigning IP for COMPUTE2 node
export COM2_MGNT_IP=172.25.234.96
export COM2_EXT_IP=192.168.81.167
export COM2_DATA_IP=10.10.20.16

## Assigning IP for CINDER node
export CIN_MGNT_IP=172.25.234.91
export CIN_DATA_IP=10.10.20.102

## Gateway for EXT network
export GATEWAY_IP_EXT=172.16.234.254
export NETMASK_ADD_EXT=255.255.255.0

## Gateway for MGNT network
export GATEWAY_IP_MGNT=192.168.81.1
export NETMASK_ADD_MGNT=255.255.255.0

## Gateway for DATA network
export GATEWAY_IP_DATA=10.10.20.1
export NETMASK_ADD_DATA=255.255.255.0

## DNS server
export DNS_IP="172.25.234.254"
## NTP server
export NTP_SERVER="openstack-router.inet.d13ht01.tk"

###################################################################################################
# OpenStack settings
## OpenStack API endpoint
export PUBLIC_FQDN_CTL=openstack.inet.d13ht01.tk
export MGNT_FQDN_CTL=openstack.inet.d13ht01.tk
{% for i in range(nbr_compute_node) %}MGNT_FQDN_COM{{loop.index}}=compute{{loop.index}}.{{base_fqdn}}
{% endfor %}{% for i in range(nbr_block_node) %}MGNT_FQDN_CIN{{loop.index}}=block{{loop.index}}.{{base_fqdn}}
{% endfor %}

## Current OpenStack Region
export REGION_NAME="VN_HCM_DC4"

###################################################################################################
# Credentials variable
export DEFAULT_PASS="{{passwd_default}}"

## Admin credentials
export CREDENTIALS_ADMIN_USERNAME="admin"
export CREDENTIALS_ADMIN_PASSWORD="{{passwd_admin}}"
## Demo project credentials
export CREDENTIALS_DEMO_USERNAME="demo"
export CREDENTIALS_DEMO_PASSWORD="{{passwd_demo}}"

## Internal services
export RABBIT_PASS="$DEFAULT_PASS"
export MYSQL_PASS="$DEFAULT_PASS"

## OpenStack service credentials
export KEYSTONE_PASS="{{passwd_service}}"
export GLANCE_PASS="{{passwd_service}}"
export NOVA_PASS="{{passwd_service}}"
export NEUTRON_PASS="{{passwd_service}}"
export PLACEMENT_PASS="{{passwd_service}}"
export METADATA_SECRET="{{passwd_service}}"
export CINDER_PASS="{{passwd_service}}"

## OpenStack database credentials
#Database password of Identity service
export KEYSTONE_DBPASS="{{passwd_database}}"
#Database password for Image service
export GLANCE_DBPASS="{{passwd_database}}"
#Database password for Compute service
export NOVA_DBPASS="{{passwd_database}}"
export NOVA_API_DBPASS="{{passwd_database}}"
#Database password for the Networking service
export NEUTRON_DBPASS="{{passwd_database}}"
#Database password for the Block Storage service
export CINDER_DBPASS="{{passwd_database}}"
