#############################################
#### Environment variable  for scripts ######
#############################################

#
# Interface variable
#
# Internal Network
MGNT_INTERFACE=ens34
# Provider Network
EXT_INTERFACE=ens33
# Self Network
DATA_INTERFACE=ens35

#  Assigning IP for CONTROLLER node
CTL_MGNT_IP=172.25.0.40
CTL_EXT_IP=192.168.25.40
CTL_DATA_IP=172.25.1.40

# Assigning IP for COMPUTE1 node
COM1_MGNT_IP=172.25.0.41
COM1_EXT_IP=192.168.25.41
COM1_DATA_IP=172.25.1.41

# Assigning IP for COMPUTE2 node
COM2_MGNT_IP=172.25.0.42
COM2_EXT_IP=192.168.25.42
COM2_DATA_IP=172.25.1.42

# Assigning IP for CINDER node
CIN_MGNT_IP=172.25.0.50
CIN_EXT_IP=192.168.25.50

# Gateway for EXT network
GATEWAY_IP_EXT=192.168.25.2
NETMASK_ADD_EXT=255.255.255.0

# Gateway for MGNT network
GATEWAY_IP_MGNT=172.25.0.2
NETMASK_ADD_MGNT=255.255.255.0

# Gateway for DATA network
GATEWAY_IP_DATA=172.25.1.2
NETMASK_ADD_DATA=255.255.255.0

# DNS variable
DNS_IP="8.8.8.8 8.8.4.4"

## Hostname variable
HOST_CTL=controller
HOST_COM1=compute1
HOST_COM2=compute2
HOST_CIN=block1

## Password variable
# Set password
DEFAULT_PASS="Welcome123"

RABBIT_PASS="$DEFAULT_PASS"
MYSQL_PASS="$DEFAULT_PASS"
TOKEN_PASS="$DEFAULT_PASS"
ADMIN_PASS="$DEFAULT_PASS"
DEMO_PASS="$DEFAULT_PASS"
SERVICE_PASSWORD="$DEFAULT_PASS"
METADATA_SECRET="$DEFAULT_PASS"

SERVICE_TENANT_NAME="service"
ADMIN_TENANT_NAME="admin"
DEMO_TENANT_NAME="demo"
ADMIN_USER_NAME="admin"
DEMO_USER_NAME="demo"

# Password variable for OPS service
KEYSTONE_PASS="$DEFAULT_PASS"
GLANCE_PASS="$DEFAULT_PASS"
NOVA_PASS="$DEFAULT_PASS"
NEUTRON_PASS="$DEFAULT_PASS"
CINDER_PASS="$DEFAULT_PASS"
SWIFT_PASS="$DEFAULT_PASS"
HEAT_PASS="$DEFAULT_PASS"
CEILOMETER_PASS="$DEFAULT_PASS"
MANILA_PASS="$DEFAULT_PASS"
PLACEMENT_PASS="$DEFAULT_PASS"
METADATA_SECRET="$DEFAULT_PASS"

# Environment variable for DB
KEYSTONE_DBPASS="$DEFAULT_PASS"
GLANCE_DBPASS="$DEFAULT_PASS"
NOVA_DBPASS="$DEFAULT_PASS"
NOVA_API_DBPASS="$DEFAULT_PASS"
NEUTRON_DBPASS="$DEFAULT_PASS"
CINDER_DBPASS="$DEFAULT_PASS"
HEAT_DBPASS="$DEFAULT_PASS"
CEILOMETER_DBPASS="$DEFAULT_PASS"
MANILA_DBPASS="$DEFAULT_PASS"
